.container {
  min-width: 90vw;
  min-height: 60vh;
  background-color: #999;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.card {
  transition: all .3s linear;
  height: 60vh;
  width: 20%;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
  margin: 15px;
  cursor: pointer;
}

.card-first{
  background-image: url(./img/1.jpg);
}
.card-second{
  background-image: url(./img/2.jpg);
}
.card-third{
  background-image: url(./img/3.jpg);
}
.card-fourth{
  background-image: url(./img/4.jpg);
}


.card.active {
  width: 50%;
}